<html>
<h2 style="color:silver;">  Welcome <%= @user.username %>!</h2>
<a href="/logs/new" style="color:silver;"> Create a Log </a><br>
<a href="/profile" style="color:silver;"> My Logs Profile <a/><br>
<a href="/logout" style="color:silver;"> Log Out </a>
<br>
<br>
<h1>Your Encounters:</h1>
<br>
<% @logs.each do |log| %>
 <div style="color:silver;">
   <p>Date: <a href="/logs/<%=log.id%>" style="color:silver;"><%= log.date %></a></p>
   <p>Creature: <%= log.creature %> </p>
   <p>General Location: <%= log.location %></p>
   <p>Coordinates of Encounter/Area of Trail: <%= log.coordinates %></p>
   <p>Description of Encounter: <%= log.description %></p>
   <br>

  </div>
<% end %>


<h1 style="color:gold;">Other Explorers' Recent Encounters!</h1>
<br>
<% Log.all.each do |log| %>
  <div style="color:gold;">
    <!-- <%if log.creature != nil && log.user_id != @user.id%> -->
      <p>Date: <%= log.date %></p>
      <p>User: <%=User.find(log.user_id).username%></p>
      <p>Creature: <%= log.creature %></p>
      <p>General Location: <%= log.location %></p>
      <p>Coordinates of Encounter/Area of Trail: <%= log.coordinates %></p>
      <p>Description of Encounter: <%= log.description %></p>
      <br>
    <!-- <%end%> -->
  </div>
<% end %>
<h2> © 2020 MuirLog <h2>
</html>

              
